# Toute soumission de bot étudiant doit être revue par l'organisateur.
chess-bots/src/main/java/fr/astroware/chess/bots/students/ @AstrowareConception
chess-bots/src/test/java/fr/astroware/chess/bots/students/ @AstrowareConception
